* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: #f8c02a;
}

.cardContainer {
    background-color: #fff;
    max-width: 500px;
    margin: 150px auto;
    border-radius: 10px;
    box-shadow: 5px 3px 30px black;
    position: relative;
}

.inputDiv {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    gap: 1rem;
}

.inputDiv input{
    width: 60%;
    border: none;
    border-bottom: 3px solid #000;
    outline: none;
    margin-bottom: 5px;
}

.inputDiv button {
    background-color: #f8c02a;
    color: #000;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.cardImg{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.cardImg img{
    width: 60%;
    display: flex;
    margin: auto;
    border-radius: 5px;
}
.imgContent{
    background-color: #f8c02a;
    color: #000;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 5px;
    width: 80%;
    height: 90px;
}
.imgContent span {
    font-size: 1.8rem;
}
.imgContent p {
    font-size: 1.5rem;
}
.recipeContainer{
    margin: auto;
   
}
.recipeContainer  {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    column-gap: 1.5rem;
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;
}
.recipeContainer li {
    line-height: 2rem;
}

.recipteBtn {
    display: flex;
    justify-content: end;
    padding: 30px;
}

.recipteBtn button{
    background-color: #f8c02a;
    color: black;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}
.recipteBtn button a {
    text-decoration: none;
    color: #000;
}



.instructions {
    background-color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 1.5rem;
    padding-top: 5rem;
    font-size: 1.5rem;
    font-family: sans-serif;
    animation: myAnim 2s ease 0s 1 normal forwards;
}


.instructions i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.instructions i:hover {
    background-color: lightgray;
    border-radius: 50%; 
}

/* .exit {
    animation: exit 5s ease 0s 1 normal forwards;
} */

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* @keyframes exit {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-250px);
	}
} */