* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: #f8c02a;
}

.cardContainer {
    background-color: #fff;
    max-width: 500px;
    margin: 150px auto;
    border-radius: 10px;
}

.inputDiv {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    gap: 1rem;
}

.inputDiv input{
    width: 60%;
    border: none;
    border-bottom: 3px solid #000;
    outline: none;
}

.inputDiv button {
    background-color: #f8c02a;
    color: #000;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.cardImg{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.cardImg img{
    width: 60%;
    display: flex;
    margin: auto;
    border-radius: 5px;
}
.imgContent{
    background-color: #f8c02a;
    color: #000;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 5px;
    width: 80%;
    height: 90px;
}
.imgContent span {
    font-size: 1.8rem;
}
.imgContent p {
    font-size: 1.5rem;
}
.recipeContainer{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recipeContainer ul {
    display: flex;
    align-items: center;
    gap: 7rem;

}
.recipeContainer li {
    line-height: 2rem;
}

.recipteBtn {
    display: flex;
    justify-content: end;
    padding: 30px;
}

.recipteBtn button{
    background-color: #f8c02a;
    color: black;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}
.recipteBtn button a {
    text-decoration: none;
    color: #000;
}